.hero-page {
    .hero-wrapper {
        padding: 3rem 4rem;
        display: flex;

        .hero-content {
            flex: auto;

            .hero-title {
                color: hsl(228, 39%, 23%);
                font-weight: 700;
                font-size: 50px;
            }

            .hero-description {
                color: hsl(227, 12%, 61%);
                font-size: 16px;
            }

            .click-button {
                .button-design {
                    .button-content {
                        color: white;
                        background-color: hsl(12, 88%, 59%);
                        border-radius: 3rem;
                        padding: 0.6rem 1rem;
                        width: 110px;
                        text-align: center;
                    }
                }
            }
        }

        .hero-bloc {
            .bloc-wrapper {
                .bloc-image {

                }
            }
        }
        
    }
}